<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="vt_authorityInsuranceConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-apiMobile-20201112010021.mdf;Initial Catalog=aspnet-apiMobile-20201112010021;user id = vtech; password = 1234;" providerName="System.Data.SqlClient" />-->
    <!--<add name="vt_authorityInsuranceEntities" connectionString="metadata=res://*/vt_authorityInsurance.csdl|res://*/vt_authorityInsurance.ssdl|res://*/vt_authorityInsurance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=vt_authorityInsurance;user id=vtech;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="vt_authorityInsuranceEntities" connectionString="metadata=res://*/vt_authorityInsurance.csdl|res://*/vt_authorityInsurance.ssdl|res://*/vt_authorityInsurance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=vt_authorityInsurance;user id=vtech;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <add name="vt_authorityInsuranceEntities" connectionString="metadata=res://*/vt_authorityInsurance.csdl|res://*/vt_authorityInsurance.ssdl|res://*/vt_authorityInsurance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IQ0N01M\SQLEXPRESS;initial catalog=vt_authorityInsurance;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
