@{
    Layout = "~/Views/Shared/ProcessLayout.cshtml";
}
<div>
    @{Html.RenderAction("_vpWorkersIndex", "Workers", new { processID = Request.QueryString["ProcessId"], inPage = Request.QueryString["inPage"] , Cont = Request.QueryString["Cont"] == null ? null : Request.QueryString["Cont"], cd4 = Request.QueryString["cd4"] , cd = Request.QueryString["cd"] });}
</div>