
@{
    ViewBag.Title = "welcomeHomeIndex";
    Layout = "~/Views/Shared/_LayoutPagehome.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=El+Messiri&display=swap" rel="stylesheet">

<link href="~/Content/wave101.css" rel="stylesheet" />
<div class="header ">
    <div class="inner-header d-rtl">
        <nav class="dr-rtl navbar navbar-expand-lg navbar-light no-gutters p-0 row">
          
                <div class="p-2 col-3 text-right">
                    <img src="~/img/logo.png" class="img_logo101 img_welcome" />
                </div>
            <div class="col-9 text-left">
              <button class="btn font-weight-bold font101 ml-3 px-4 py-2" style="background-color: #fff; border-radius: 20px; box-shadow: 0 2px 2px #00000052;"> <span><i style="color: #2e9eba;" class="fas fa-unlock-alt"></i> &nbsp; تسجيل الدخول</span> </button>
                @*<button class="btn font-weight-bold font101 ml-5 px-4 py-2" style="background-color: #fff; border-radius: 20px; box-shadow: 0 2px 2px #00000052;"> <span><i style="color: #2e9eba;"class="fas fa-user-plus"></i> &nbsp;<span class="d-sm-none101"> مستخدم جديد</span> </span> </button>*@
            </div>


           
              
            
        </nav>
        <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel" style="height:88%">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="align-items-center container m-auto mt-5 py-5 row text-center">
                        <div class="col-12 col-lg-6 col-md-6 col-sm-12 ">
                            <span class="text-cap-in-101 font101" >
                                يقدم  موقع  الهيئة القومية للتأمين الاجتماعى خدمات مميزه لحمايه حقوق العمال 
                            </span>

                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                            <img src="~/img/welcomeImg/sliderImg/undraw_QA_engineers_dg5p.svg" class="w-75 h-75" />

                           

                        </div>
                    </div>


                </div>


            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!--Waves end-->

</div>
<div class="row mt-5">
    <div class="why-us text-center">
        <span class="head-div font101">خدمات تهمك</span>
        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card card_why_us_t_l mb-4 mx-4">
                    <div class="card-body mx-1 box_card">
                        <div class="row ">
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 align-self-center font101">
                                <h5 class="card-title text_color102 font102" style="color: #2294b1;"> موقع  الهيئة القومية للتأمين</h5>
                                <p class="card-text text_color104">يقدم  موقع  الهيئة القومية للتأمين الاجتماعى خدمات مميزه لحمايه حقوق العمال </p>

                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                           
                                <img src="~/img/welcomeImg/undraw_QA_engineers_dg5p (1).svg"  height="200" class="w-100"/>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card card_why_us_t_l mb-4 mx-4">
                    <div class="card-body mx-1 box_card">
                        <div class="row ">
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 align-self-center font101">
                                <h5 class="card-title text_color102 font102" style="color: #2294b1;"> موقع  الهيئة القومية للتأمين</h5>
                                <p class="card-text text_color104">يقدم  موقع  الهيئة القومية للتأمين الاجتماعى خدمات مميزه لحمايه حقوق العمال </p>

                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">

                                <img src="~/img/welcomeImg/undraw_QA_engineers_dg5p (1).svg" height="200" class="w-100" />
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card card_why_us_t_l mb-4 mx-4">
                    <div class="card-body mx-1 box_card">
                        <div class="row ">
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 align-self-center font101">
                                <h5 class="card-title text_color102 font102" style="color: #2294b1;"> موقع  الهيئة القومية للتأمين</h5>
                                <p class="card-text text_color104">يقدم  موقع  الهيئة القومية للتأمين الاجتماعى خدمات مميزه لحمايه حقوق العمال </p>

                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">

                                <img src="~/img/welcomeImg/undraw_QA_engineers_dg5p (1).svg" height="200" class="w-100" />
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card card_why_us_t_l mb-4 mx-4">
                    <div class="card-body mx-1 box_card">
                        <div class="row ">
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 align-self-center font101">
                                <h5 class="card-title text_color102 font102" style="color: #2294b1;"> موقع  الهيئة القومية للتأمين</h5>
                                <p class="card-text text_color104">يقدم  موقع  الهيئة القومية للتأمين الاجتماعى خدمات مميزه لحمايه حقوق العمال </p>

                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">

                                <img src="~/img/welcomeImg/undraw_QA_engineers_dg5p (1).svg" height="200" class="w-100" />
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card card_why_us_t_l mb-4 mx-4">
                    <div class="card-body mx-1 box_card">
                        <div class="row ">
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 align-self-center font101">
                                <h5 class="card-title text_color102 font102" style="color: #2294b1;"> موقع  الهيئة القومية للتأمين</h5>
                                <p class="card-text text_color104">يقدم  موقع  الهيئة القومية للتأمين الاجتماعى خدمات مميزه لحمايه حقوق العمال </p>

                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">

                                <img src="~/img/welcomeImg/undraw_QA_engineers_dg5p (1).svg" height="200" class="w-100" />
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card card_why_us_t_l mb-4 mx-4">
                    <div class="card-body mx-1 box_card">
                        <div class="row ">
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 align-self-center font101">
                                <h5 class="card-title text_color102 font102" style="color: #2294b1;"> موقع  الهيئة القومية للتأمين</h5>
                                <p class="card-text text_color104">يقدم  موقع  الهيئة القومية للتأمين الاجتماعى خدمات مميزه لحمايه حقوق العمال </p>

                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">

                                <img src="~/img/welcomeImg/undraw_QA_engineers_dg5p (1).svg" height="200" class="w-100" />
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- FAQS -->
<div class="border_r101 bg_color_101 mt-4 text-center pt-5 pb-5 mb-4 font101">

    <span class="head-div font101" >  الأسئلة الشائعة</span>
    <div class="my-4">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">


            <!-- Accordion card -->
            <div class="container text-right">

                <!-- Card header -->
                <div role="tab" id="headingThree3" style="border-bottom:1px solid #207e95" class="py-3 faqs_a">
                    <a class="collapsed color_fff font102 collapsed_a" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                       aria-expanded="false" aria-controls="collapseThree3">
                        <h5 class="color102 font-weight-bold mb-0">
                            <i class="fas fa-plus-circle mr-3 d-none"></i> <i class="fas fa-minus-circle mr-3 d-none"></i>    
                                                     هل يخضع عمال اليومية لقانون التأمين الاجتماعي ما هو الأجر الذي يحسب على أساسه الاشتراكات
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                     data-parent="#accordionEx">
                    <div class="color_fff p-4">
                        يخضع عامل اليومية لقانون التأمين الاجتماعي، وتحسب الاشتراكات على أساس ما استحقه المؤمن عليه من أجر خلال كل شهر على قدر عدد أيام العمل ، مع مراعاة الحد الأدنى لأجر الاشتراك

                    </div>
                </div>

            </div>
            <!-- Accordion card -->

        </div>
        <!-- Accordion wrapper -->
        <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">


            <!-- Accordion card -->
            <div class="container text-right">

                <!-- Card header -->
                <div role="tab" id="headingThree1" style="border-bottom:1px solid #207e95" class="py-3 faqs_a">
                    <a class="collapsed color_fff font102 collapsed_a" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree1"
                       aria-expanded="false" aria-controls="collapseThree1">
                        <h5 class="color102 font-weight-bold mb-0">
                            <i class="fas fa-plus-circle mr-3 d-none"></i> <i class="fas fa-minus-circle mr-3 d-none"></i>                             هل يخضع عمال اليومية لقانون التأمين الاجتماعي ما هو الأجر الذي يحسب على أساسه الاشتراكات
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseThree1" class="collapse" role="tabpanel" aria-labelledby="headingThree1"
                     data-parent="#accordionEx1">
                    <div class="color_fff p-4">
                        يخضع عامل اليومية لقانون التأمين الاجتماعي، وتحسب الاشتراكات على أساس ما استحقه المؤمن عليه من أجر خلال كل شهر على قدر عدد أيام العمل ، مع مراعاة الحد الأدنى لأجر الاشتراك
                    </div>
                </div>

            </div>
            <!-- Accordion card -->

        </div>
        <div class="accordion md-accordion" id="accordionEx2" role="tablist" aria-multiselectable="true">


            <!-- Accordion card -->
            <div class="container text-right">

                <!-- Card header -->
                <div role="tab" id="headingThree2" style="border-bottom:1px solid #207e95" class="py-3 faqs_a">
                    <a class="collapsed color_fff font102 collapsed_a" data-toggle="collapse" data-parent="#accordionEx2" href="#collapseThree2"
                       aria-expanded="false" aria-controls="collapseThree2">
                        <h5 class="color102 font-weight-bold mb-0">
                            <i class="fas fa-plus-circle mr-3 d-none"></i> <i class="fas fa-minus-circle mr-3 d-none"></i>                             هل يخضع عمال اليومية لقانون التأمين الاجتماعي ما هو الأجر الذي يحسب على أساسه الاشتراكات
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseThree2" class="collapse" role="tabpanel" aria-labelledby="headingThree2"
                     data-parent="#accordionEx2">
                    <div class="color_fff p-4">
                        يخضع عامل اليومية لقانون التأمين الاجتماعي، وتحسب الاشتراكات على أساس ما استحقه المؤمن عليه من أجر خلال كل شهر على قدر عدد أيام العمل ، مع مراعاة الحد الأدنى لأجر الاشتراك
                    </div>
                </div>

            </div>
            <!-- Accordion card -->

        </div>
        <div class="accordion md-accordion" id="accordionEx4" role="tablist" aria-multiselectable="true">


            <!-- Accordion card -->
            <div class="container text-right">

                <!-- Card header -->
                <div role="tab" id="headingThree4" style="border-bottom:1px solid #207e95" class="py-3 faqs_a">
                    <a class="collapsed color_fff font102 collapsed_a" data-toggle="collapse" data-parent="#accordionEx4" href="#collapseThree4"
                       aria-expanded="false" aria-controls="collapseThree4">
                        <h5 class="color102 font-weight-bold mb-0">
                            <i class="fas fa-plus-circle mr-3 d-none"></i> <i class="fas fa-minus-circle mr-3 d-none"></i>                             هل يخضع عمال اليومية لقانون التأمين الاجتماعي ما هو الأجر الذي يحسب على أساسه الاشتراكات
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
                     data-parent="#accordionEx4">
                    <div class="color_fff p-4">
                        يخضع عامل اليومية لقانون التأمين الاجتماعي، وتحسب الاشتراكات على أساس ما استحقه المؤمن عليه من أجر خلال كل شهر على قدر عدد أيام العمل ، مع مراعاة الحد الأدنى لأجر الاشتراك
                    </div>
                </div>

            </div>
            <!-- Accordion card -->

        </div>
    </div>
</div>
