@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <title>العمليات</title>
}

<div class="mt-4 dr-rtl grid_box_shadow mb-3 row justify-content-center">
    <div class="text-right px-4 pb-2">
        <h3 class="color_main102">العمليات</h3>
    </div>
    <div class="text-center scroll-max">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="color_main102">#</th>
                    <th scope="col" class="color_main102">First</th>
                    <th scope="col" class="color_main102">Last</th>
                    <th scope="col" class="color_main102">Handle</th>
                    <th scope="col" class="color_main102">Handle</th>
                    <th scope="col" class="color_main102">Handle</th>
                    <th scope="col" class="color_main102">Handle</th>
                    <th scope="col" class="color_main102">Handle</th>
                    <th scope="col" class="color_main102">Handle</th>
                    <th scope="col" class="color_main102">Handle</th>
                    <th scope="col" class="color_main102">Handle</th>
                    <th scope="col" class="color_main102">Handle</th>
                    <th scope="col" class="color_main102">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="color_main102">1</th>
                    <td class="color_main103">REHAB HAMDY YOUSEF ABAS ABDELRAHMAN MOHAMED</td>
                    <td class="color_main103">REHAB HAMDY YOUSEF</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>





                    <td class="color_main103  ">
                        <div class="color_main103 d-sm-none101 ">
                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                        </div>
                        <div class="color_main103 d-sm-show101 ">
                            <div class="dropdown-j  color_main102">
                                <i class="fas fa-ellipsis-v "></i>
                                <div class="dropdown-content-j" style="min-width: 116px;">
                                    <div class="row text-left">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row" class="color_main102">1</th>
                    <td class="color_main103">Mark</td>
                    <td class="color_main103">Otto</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>





                    <td class="color_main103  ">
                        <div class="color_main103 d-sm-none101 ">
                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                        </div>
                        <div class="color_main103 d-sm-show101 ">
                            <div class="dropdown-j  color_main102">
                                <i class="fas fa-ellipsis-v "></i>
                                <div class="dropdown-content-j" style="min-width: 116px;">
                                    <div class="row text-left">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row" class="color_main102">1</th>
                    <td class="color_main103">Mark</td>
                    <td class="color_main103">Otto</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>





                    <td class="color_main103  ">
                        <div class="color_main103 d-sm-none101 ">
                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                        </div>
                        <div class="color_main103 d-sm-show101 ">
                            <div class="dropdown-j  color_main102">
                                <i class="fas fa-ellipsis-v "></i>
                                <div class="dropdown-content-j" style="min-width: 116px;">
                                    <div class="row text-left">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row" class="color_main102">1</th>
                    <td class="color_main103">Mark</td>
                    <td class="color_main103">Otto</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>





                    <td class="color_main103  ">
                        <div class="color_main103 d-sm-none101 ">
                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                        </div>
                        <div class="color_main103 d-sm-show101 ">
                            <div class="dropdown-j  color_main102">
                                <i class="fas fa-ellipsis-v "></i>
                                <div class="dropdown-content-j" style="min-width: 116px;">
                                    <div class="row text-left">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row" class="color_main102">1</th>
                    <td class="color_main103">Mark</td>
                    <td class="color_main103">Otto</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>





                    <td class="color_main103  ">
                        <div class="color_main103 d-sm-none101 ">
                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                        </div>
                        <div class="color_main103 d-sm-show101 ">
                            <div class="dropdown-j  color_main102">
                                <i class="fas fa-ellipsis-v "></i>
                                <div class="dropdown-content-j" style="min-width: 116px;">
                                    <div class="row text-left">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row" class="color_main102">1</th>
                    <td class="color_main103">Mark</td>
                    <td class="color_main103">Otto</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>





                    <td class="color_main103  ">
                        <div class="color_main103 d-sm-none101 ">
                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                        </div>
                        <div class="color_main103 d-sm-show101 ">
                            <div class="dropdown-j  color_main102">
                                <i class="fas fa-ellipsis-v "></i>
                                <div class="dropdown-content-j" style="min-width: 116px;">
                                    <div class="row text-left">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row" class="color_main102">1</th>
                    <td class="color_main103">Mark</td>
                    <td class="color_main103">Otto</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>





                    <td class="color_main103  ">
                        <div class="color_main103 d-sm-none101 ">
                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                        </div>
                        <div class="color_main103 d-sm-show101 ">
                            <div class="dropdown-j  color_main102">
                                <i class="fas fa-ellipsis-v "></i>
                                <div class="dropdown-content-j" style="min-width: 116px;">
                                    <div class="row text-left">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row" class="color_main102">1</th>
                    <td class="color_main103">Mark</td>
                    <td class="color_main103">Otto</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>





                    <td class="color_main103  ">
                        <div class="color_main103 d-sm-none101 ">
                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                        </div>
                        <div class="color_main103 d-sm-show101 ">
                            <div class="dropdown-j  color_main102">
                                <i class="fas fa-ellipsis-v "></i>
                                <div class="dropdown-content-j" style="min-width: 116px;">
                                    <div class="row text-left">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row" class="color_main102">1</th>
                    <td class="color_main103">Mark</td>
                    <td class="color_main103">Otto</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>





                    <td class="color_main103  ">
                        <div class="color_main103 d-sm-none101 ">
                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                        </div>
                        <div class="color_main103 d-sm-show101 ">
                            <div class="dropdown-j  color_main102">
                                <i class="fas fa-ellipsis-v "></i>
                                <div class="dropdown-content-j" style="min-width: 116px;">
                                    <div class="row text-left">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row" class="color_main102">1</th>
                    <td class="color_main103">Mark</td>
                    <td class="color_main103">Otto</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>





                    <td class="color_main103  ">
                        <div class="color_main103 d-sm-none101 ">
                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                        </div>
                        <div class="color_main103 d-sm-show101 ">
                            <div class="dropdown-j  color_main102">
                                <i class="fas fa-ellipsis-v "></i>
                                <div class="dropdown-content-j" style="min-width: 116px;">
                                    <div class="row text-left">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row" class="color_main102">1</th>
                    <td class="color_main103">Mark</td>
                    <td class="color_main103">Otto</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>





                    <td class="color_main103  ">
                        <div class="color_main103 d-sm-none101 ">
                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                        </div>
                        <div class="color_main103 d-sm-show101 ">
                            <div class="dropdown-j  color_main102">
                                <i class="fas fa-ellipsis-v "></i>
                                <div class="dropdown-content-j" style="min-width: 116px;">
                                    <div class="row text-left">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row" class="color_main102">1</th>
                    <td class="color_main103">dddd</td>
                    <td class="color_main103">Odddddtto</td>
                    <td class="color_main103">ddddd</td>
                    <td class="color_main103">dddd</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>

                    <td class="color_main103">mdo</td>
                    <td class="color_main103">mdo</td>





                    <td class="color_main103  ">
                        <div class="color_main103 d-sm-none101 ">
                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                        </div>
                        <div class="color_main103 d-sm-show101 ">
                            <div class="dropdown-j  color_main102">
                                <i class="fas fa-ellipsis-v "></i>
                                <div class="dropdown-content-j" style="min-width: 116px;">
                                    <div class="row text-left">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-warning font-weight-bold"><i class="far fa-edit"></i>  تعديل </button>
                                            <button type="button" class="btn btn-outline-danger font-weight-bold"><i class="far fa-trash-alt"></i> حذف</button>
                                            <button type="button" class="btn btn-outline-secondary font-weight-bold"><i class="far fa-list-alt"></i> تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-right fixed_btn bg-white w-100">
        <button type="button" class="btn btn-outline-info  font-weight-bold"><i class="fas fa-plus"></i> اضافه</button>
        <button type="button" class="btn btn-outline-primary  font-weight-bold"><i class="fas fa-search"></i> بحث</button>

    </div>

</div>