@{
    Layout = "~/Views/Shared/_contractorLayout.cshtml";
    <title>تفاصيل العملية</title>

    var screen = "";
    string[] path = HttpContext.Current.Request.Url.AbsolutePath.Split('/');
    screen = path[2];
}


@if (screen == "vProcessRequest") // طلبات العمليات
{
    @Html.Hidden("screenName", "../Process/vProcessRequest")
}
else if (screen == "vExpireProcess") // العمليات الموشكه على الانتهاء
{
    @Html.Hidden("screenName", "../ExpireProcess/vExpireProcess")
}
else if (screen == "vContractorIndex") // عمليات المقاولين
{
    @Html.Hidden("screenName", "../Contractor/vContractorIndex")
}
else if (screen == "vProcessShowIndex") // عمليات موظف التأمينات
{
    @Html.Hidden("screenName", "../Process/vProcessShowIndex")
}