@{

    Layout = "~/Views/Shared/_contractorLayout.cshtml";
    <title>التحضير</title>
}
<script src="~/Scripts/bootstrap-4.3.1-dist/bootstrap-select.min.js"></script>

<div>
    @{Html.RenderAction("_vpAttendance", "attendance");}
</div>