
@{
    Layout = "~/Views/Shared/ReportsLayout.cshtml";
    <title>التقارير</title>
 }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>التقارير</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
