@{
    Layout = "~/Views/Shared/_partialLayout.cshtml";
}

@using (Html.BeginForm("_vpAttachmentTypeSearch", "attachmentType", FormMethod.Post))
{
    <div class="mt-3 dr-rtl mx-3 mb-3">
        <div class="row text-right grid_box_shadow">
            @* نوع المرفق *@
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 my-1 text-right ">
                <span class="color_main102 font-weight-bold ml-2 mx-3">
                    نوع المرفق
                </span>
                <div>
                    @Html.TextBox("attachmentTypeSearch", "", new { @class = "form-control borderText arNum" })
                </div>
            </div>
            @* بحث عن مرفق *@
            <div class="col-lg-4 col-md-4 align-self-end col-sm-12 my-1 mt-4 mb-3">
                <button type="submit" id="btnSearchArchivementType" onclick="loaderOpen();"> </button>
            </div>
        </div>
    </div>
}