/*html,*/
/*body {
    height:100%;
    /*overflow-x:hidden;*/
    /*background-image: url('../img/222793_221270627885860_3515915_n.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}*/
.mainLogin{
background-color: #2b9bb7;
    box-shadow: 0 2px 9px 0px #2b9bb752;
    /* border-radius: 6px; */
    min-height: 500px;
    border-radius: 30px;
}
.mainLoginL{
     background-color: #fff;
     box-shadow: inset -4px 0px 3px 0px rgb(0 0 0 / 30%);
     border-radius: 30px 50% 50% 30px;
}
.mainLoginImg{
    height:200px;
}

.btn{
    color: #2b6f7e;
    font-weight: bold;
    border-radius: 0;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: 0;
  font-size: 1.5rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
      text-align: right;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
font-size: 1.6rem;
    cursor: text;
    top: 9px;
}

.form__label {
  position: absolute;
  top: 0;
  right:0;
  display: block;
  transition: 0.2s;
  font-size: 1.5rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
    border-image: linear-gradient(to right, #fff, #fff);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.5rem;
   color: transparent !important;
    background: linear-gradient(to right, #fff, #fff);
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.btn-login{
    background: linear-gradient(to right, #fff, #fff);
    border: unset; color:white; font-size: 1.6rem;
}
.hvr-grow {
     display: unset; 
}
label {
    color:#fff!important;
}
@media (max-width: 768px) {
.mainLoginL{
        box-shadow: inset 0px -4px 3px 0px rgb(0 0 0 / 30%);
    border-radius: 6px 6px 50% 50%;
    padding:100px;
}
.mainLoginImg{
    height:160px;
}
}


.btn_g{
    /*border: 1px #fff solid;*/
    color: #fff;
    padding: 28px;
    /*box-shadow: 0 0 0px #f8f9fa;*/
       }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
  
}
.form__field:-webkit-autofill {

  padding-bottom: 6px;
  font-weight: 800;
  border-width: 3px;
    border-image: linear-gradient(to right, #fff, #fff);
  border-image-slice: 1;
}
.form__field:-webkit-autofill ~ .form__label {
  position: absolute;
  top: 0px;
  display: block;
  transition: 0.2s;
  font-size: 1.5rem;
   color:transparent !important;
    background: linear-gradient(to right, #fff, #fff);
    -webkit-background-clip: text;
    background-clip: text;
  font-weight: 800;
}