@{
    Layout = "~/Views/Shared/_partiallayout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    @Html.Hidden("screen", TempData["screen"])

    <div class="mt-2 dr-rtl grid_box_shadow mx-3 text-right row">
        @* كلمه المرور الحاليه *@
        <div class="col-lg-4 col-md-4 col-sm-12">
            <span class="color_main102 font-weight-bold ml-2 mx-3 " id="SpInsurNumber">كلمه المرور الحاليه</span>
            <div>
                @Html.TextBox("currentPassword", "", new { @class = "form-control boorderText", id = "currentPassword", required = "required" })
            </div>
        </div>

        @* كلمه المرور الجديده *@
        <div class="col-lg-4 col-md-4 col-sm-12">
            <span class="color_main102 font-weight-bold ml-2 mx-3 " id="SpInsurNumber">كلمه المرور الجديده</span>
            <div>
                @Html.TextBox("newPassword", "", new { @class = "form-control boorderText", required = "required" })
            </div>
        </div>

        @* تأكيد كلمه المرور الجديده *@
        <div class="col-lg-4 col-md-4 col-sm-12">
            <span class="color_main102 font-weight-bold ml-2 mx-3 " id="SpInsurNumber">تأكيد كلمه المرور الجديده</span>
            <div>
                @Html.TextBox("confirmNewPassword", "", new { @class = "form-control boorderText", required = "required", onchange = "ValidPassword();" })
            </div>
        </div>

        @* تعديل المده *@
        <div class="col-lg-12 col-md-12 align-self-end col-sm-12 my-1 text-left mt-3">
            <button type="button" id="btnChangePassword" onclick="loaderOpen();"><i class=""></i>  </button>
            @*<button type="submit" id="btnChangePassword" onclick="loaderOpen();"><i class=""></i>  </button>*@
        </div>
    </div>
}

<script>

    //CheckPassword('Esraa123');

    function CheckPassword(inputtxt) {
        //Input Password and Submit [8 to 15 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character]
        //var decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;

        var decimal = /^((?=.*[a-z])(?=.*[A-Z])(?=.*\d)).+$/;

        var input = inputtxt;
        console.log('input: ', input);
        console.log('input: ', input.match(decimal));

        if (input.match(decimal)) {
            return true;
        }
        else {
            return false;
        }
    }
</script>


<script>    

    $(function () {
        $('#btnChangePassword').click(function (event) {
            var decimal = /^((?=.*[a-z])(?=.*[A-Z])(?=.*\d)).+$/;
            var pass = $('#newPassword').val();
            loaderClose();
            if ($('#newPassword').val() != $('#confirmNewPassword').val()) {
                event.preventDefault();
                sAlert('برجاء تطابق كلمه المرور الجديده مع تأكيد كلمه المرور الجديده', 2);
            }
            else {
                
                ////console.log('new password Rex: ', CheckPassword(pass.toString()));               

                if (CheckPassword(pass)) {
                    $.getJSON("../Home/ChangePassword", { currentPassword: $('#currentPassword').val(), newPassword: $('#newPassword').val(), confirmNewPassword: $('#confirmNewPassword').val() },
                     function (data) {

                         if (data == 'تم تغيير كلمه المرور بنجاح ')
                             sAlert(data, 0);
                         else
                             sAlert(data, 1);

                         //setTimeout(() => { window.location.reload(); }, 4000);

                     })
                }
                else {
                    sAlert('الرجاء ادخال كلمه المرور مكونه من 8 حروف وارقام على الاقل', 1);
                }
            }
        });
    });

    function ValidPassword() {
        var password = $('#newPassword').val();
        var confirmPassword = $('#confirmNewPassword').val();
        if ((password == "" || password == undefined) && confirmPassword != "") {
            sAlert(" عفوا , ادخال كلمة المرور  الجديده اولا ", 2);
            $('#confirmNewPassword').val('');
        }
        else if (password != confirmPassword) {
            sAlert('برجاء تطابق كلمه المرور الجديده مع تأكيد كلمه المرور الجديده', 2);
            $('#confirmNewPassword').val('');
        }
    }
</script>

@*<script>
    // timeout before a callback is called

    let timeout;

    // traversing the DOM and getting the input and span using their IDs

    let password = '12@wezaza'//document.getElementById('PassEntry')
    let strengthBadge = document.getElementById('newPassword')
 
    // The strong and weak password Regex pattern checker
    //let strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})')
    //let mediumPassword = new RegExp('((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,}))|((?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])(?=.{8,}))')
    let mediumPassword = new RegExp('^((?=.*[a-z])(?=.*[A-Z])(?=.*\d)).+$')

    let strongPassword = new RegExp('^((?=.*[a-z])(?=.*[A-Z])(?=.*\d)).+$')

    StrengthChecker(password);

    function StrengthChecker(PasswordParameter) {
        // We then change the badge's color and text based on the password strength
        console.log('esraa123654E: ', PasswordParameter);

        if (strongPassword.test(PasswordParameter)) {
            strengthBadge.style.backgroundColor = "green"
            strengthBadge.textContent = 'Strong'
        }
        //else if (mediumPassword.test(PasswordParameter)) {
        //    strengthBadge.style.backgroundColor = 'blue'
        //    strengthBadge.textContent = 'Medium'
        //}
        else {
            strengthBadge.style.backgroundColor = 'red'
            strengthBadge.textContent = 'Weak'
        }
    }

    // Adding an input event listener when a user types to the  password input
    //password.addEventListener("input", () => {
    //    //The badge is hidden by default, so we show it
    //    strengthBadge.style.display = 'block'
    //    clearTimeout(timeout);
    //    //We then call the StrengChecker function as a callback then pass the typed password to it
    //    timeout = setTimeout(() => StrengthChecker(password.value), 500);
    //    //Incase a user clears the text, the badge is hidden again
    //    if (password.value.length !== 0) {
    //        strengthBadge.style.display != 'block'
    //    } else {
    //        strengthBadge.style.display = 'none'
    //    }
    //});

</script>*@

