@{
    var list = new List<int> { 0, 1 };
}
<table>
    <tbody>
        @foreach (var item in list)
            {
            <tr>
                @*<td class="color_main103">تشيد و بناء </td>*@
                <td class="mt-4 dr-rtl grid_box_shadow mx-3 mb-3">
                  تم الرد على اعتراض
                </td>
            </tr>
        }
    </tbody>
</table>

